#img-header-tech {
    background-image: url("../img/codes.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
}

#bootstrap {background-color: #553a7d;}
#html {background-color: #eb795d;}
#css {background-color: #4399ce;}
#javascript {background-color: #cebc4c;}
#nodejs{background-color: #0f2410;}
#git{background-color: #df4b34a9;}
#github{background-color: #f2f2f2;}
#wordpress{background-color: #102f3b;}
#heroku{background-color:#d8d0e2 ;}
#figma{background-color: #2c362c;}
#canva{background-color: #1b3031;}

.repo-img {
    height: 4.5em;
    width: auto;
}

@media(max-width:769px){
    .repo-img {
        height: 3.8em;
        width: auto;
    }
}