@import "../../../styles/sass/variables.scss";
.modal {
	background-color: #1d1d1d50;
}

.modalHeader {
	background-color: $green-dark;
	border-bottom: #000;
}

.modalBody {
	color: $light;
	background-color: $dark;

	input,
	textarea {
		background-color: $dark;
	}
}

.modalFooter {
	background-color: $dark;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.modalInput {
	color: $light;
	&:focus {
		color: $light;
		background-color: $dark;
	}
}

// Form loader
.ldsDualRing {
	display: inline-block;
	width: 40px;
	height: 40px;
}
.ldsDualRing:after {
	content: " ";
	display: block;
	width: 40px;
	height: 40px;
	margin: 8px;
	border-radius: 50%;
	border: 6px solid #fff;
	border-color: #fff transparent #fff transparent;
	animation: ldsDualRing 1.2s linear infinite;
}
@keyframes ldsDualRing {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
